<div style="background-color: #062c43; height: 100vh;">

    <%- include('templates/header') %>

        <h1 class="text-center underline-text" style="color:#9ccddc"><u>Contact Us</u></h1>

        <div class="text-center"
            style="background-color: #ced7e0; max-width: 60%; height: auto; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px;">
            <p>Address: <a href="https://maps.app.goo.gl/MhpcjWwYZEtEaD5y7">3700 Willingdon Ave, Burnaby, BC V5G 3H2</a>
            </p>
            <p>Phone: 604-123-4567</p>
            <p>Email: <a href="mailto:galaxygetaways@gmail.com">galaxygetawaysbby09</a></p>

            <p>Customer Support Hours:</p>
            <p>Monday - Friday: 9:00 AM - 5:00 PM</p>
            <p>Saturday - Sunday: Unavailable</p>
        </div>


        <div class="text-center"
            style="background-color: #ced7e0; max-width: 60%; height: auto; margin: 0 auto; padding-top: 20px; padding-bottom: 20px;">
            <a href="/contact/email" style="text-decoration: none; color: inherit;">
                <div class="card" style="width: 18rem; display: inline-block;">
                    <div class="card-body">
                        <img src="https://cdn-icons-png.freepik.com/256/552/552486.png?semt=ais_hybrid" alt="Phone Icon"
                            class="w-50 h-auto">
                        <h5 class="card-title">Message Us</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </a>

            <a href="tel:604-123-4567" style="text-decoration: none; color: inherit;">
                <div class="card" style="width: 18rem; display: inline-block;">
                    <div class="card-body">
                        <img src="https://cdn-icons-png.freepik.com/256/3687/3687004.png?semt=ais_hybrid"
                            alt="Phone Icon" class="w-50 h-auto">
                        <h5 class="card-title">Call Us</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </a>
        </div>


        <%- include('templates/footer') %>

</div>