<%- include('templates/header-hamburger') %>

<section class="bsb-faq-3 py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Frequently Asked Questions</h2>
        <p class="text-secondary text-center lead fs-4">Welcome to our FAQ page, your one-stop resource for answers to commonly asked questions.</p>
        <p class="mb-5 text-center">Whether you're a new customer looking to learn more about what we offer or a long-time user seeking clarification on specific topics, this page has clear and concise information about our products and services.</p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>
  <div class="mb-8">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11 col-xl-10">
          <div class="d-flex align-items-end mb-5">
            <i class="bi bi-person-gear me-3 lh-1 display-5"></i>
            <h3 class="m-0">About Us</h3>
          </div>
        </div>
        <div class="col-11 col-xl-10">
          <div class="accordion accordion-flush" id="faqAccount">
            <div class="accordion-item bg-transparent border-top border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading1">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse1" aria-expanded="false" aria-controls="faqAccountCollapse1">
                  What is Galaxy Getaways?
                </button>
              </h2>
              <div id="faqAccountCollapse1" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading1">
                <div class="accordion-body">
                  <p>Galaxy Getaways is a space tourism platform that acts as a third-party website, facilitating bookings for space flights, space hotels, and other space-related experiences for travelers interested in exploring the cosmos.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading2">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse2" aria-expanded="false" aria-controls="faqAccountCollapse2">
                  How does Galaxy Getaways work?
                </button>
              </h2>
              <div id="faqAccountCollapse2" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading2">
                <div class="accordion-body">
                  <p>Galaxy Getaways provides users with a user-friendly interface where they can search for and book space flights and accommodations. Users can browse through available options, compare prices and features, and make secure bookings directly through the platform.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading3">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse3" aria-expanded="false" aria-controls="faqAccountCollapse3">
                  What kind of space experiences does Galaxy Getaways offer?
                </button>
              </h2>
              <div id="faqAccountCollapse3" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading3">
                <div class="accordion-body">
                  <p>Galaxy Getaways offers a range of space tourism experiences, including suborbital flights, orbital stays at space hotels, spacewalk excursions, and more. Users can choose from various packages tailored to their preferences and budget.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading4">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse4" aria-expanded="false" aria-controls="faqAccountCollapse4">
                  Is Galaxy Getaways affiliated with any space travel companies?
                </button>
              </h2>
              <div id="faqAccountCollapse4" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading4">
                <div class="accordion-body">
                  <p>Galaxy Getaways collaborates with multiple space travel companies and partners to provide a diverse selection of space tourism options. We work closely with reputable companies to ensure the safety and quality of the experiences we offer.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading5">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse5" aria-expanded="false" aria-controls="faqAccountCollapse5">
                  Can I view my bookings on Galaxy Getaways?
                </button>
              </h2>
              <div id="faqAccountCollapse5" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading5">
                <div class="accordion-body">
                  <p>Yes, Galaxy Getaways allows users to create accounts where they can manage their bookings, view itineraries, and access important travel information. Users have full control over their bookings and can make changes or cancellations as necessary.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading6">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse6" aria-expanded="false" aria-controls="faqAccountCollapse6">
                  Is my personal information secure on Galaxy Getaways?
                </button>
              </h2>
              <div id="faqAccountCollapse6" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading6">
                <div class="accordion-body">
                  <p>Yes, Galaxy Getaways prioritizes the security and privacy of user information. We employ industry-standard security measures to protect user data and ensure that personal information is handled responsibly and in accordance with applicable privacy laws.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading7">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse7" aria-expanded="false" aria-controls="faqAccountCollapse7">
                  How can I contact Galaxy Getaways for support?
                </button>
              </h2>
              <div id="faqAccountCollapse7" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading7">
                <div class="accordion-body">
                  <p>For assistance with bookings, inquiries about space tourism experiences, or any other questions, you can contact our customer support team through the contact information provided on our website. We're here to help make your space travel dreams a reality!</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading8">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse8" aria-expanded="false" aria-controls="faqAccountCollapse8">
                  Does Galaxy Getaways offer any loyalty programs or rewards?
                </button>
              </h2>
              <div id="faqAccountCollapse8" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading8">
                <div class="accordion-body">
                  <p>Yes, Galaxy Getaways offers a loyalty program where users can earn rewards points for their bookings. These points can be redeemed for discounts, upgrades, or exclusive space travel experiences, providing added value to frequent travelers.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading9">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse9" aria-expanded="false" aria-controls="faqAccountCollapse9">
                  Are there any age or health restrictions for booking space flights?
                </button>
              </h2>
              <div id="faqAccountCollapse9" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading9">
                <div class="accordion-body">
                  <p>Yes, certain space tourism experiences may have age, health, or physical fitness requirements. It's important to review the specific eligibility criteria for each experience before booking to ensure a safe and enjoyable journey.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-transparent border-bottom py-3">
              <h2 class="accordion-header" id="faqAccountHeading10">
                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse10" aria-expanded="false" aria-controls="faqAccountCollapse10">
                  Can I book space flights for groups or special events through Galaxy Getaways?
                </button>
              </h2>
              <div id="faqAccountCollapse10" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading10">
                <div class="accordion-body">
                  <p>Yes, Galaxy Getaways offers group booking options for special events, corporate outings, and other group travel needs. Our team can assist with coordinating group reservations and customizing experiences to meet your group's requirements.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('templates/footer') %>