<%- include('templates/header-basic') %>
<h1 class="display-6 text-center">Interstellar Travel Begins Here!</h1><br>
<div class="text-center">
    <!-- Create account button -->
    <a href="/signup">
        <button class="btn btn-primary btn-block w-50 mx-auto">Create account</button>
    </a>
    
    <br>
    <br>
    <p>or</p>
    <br>

    <!-- Sign in button -->
    <a href="/signin">
        <button class="btn btn-secondary btn-block w-50 mx-auto">Sign in</button>
    </a>
</div>
<%- include('templates/footer') %>

