<%- include('templates/header-hamburger') %>

    <div class="text-center">
        <h1>We Have Recieved Your Inquiry, Our Team Will Contact You Within 2-5 Days.</h1>
        <h2>Thank You For Your Patience</h2>
    </div>

    <%- include('templates/footer') %>