<%- include('templates/header-hamburger-main-only') %>
<link rel="stylesheet" href="/public/css/game.css">
    <div class="background-container ">
        <div class="container text-center">
            <h3 class="custom-color">
                <%= username %>,<br>Your Journey Begins Here
            </h3>
            <br><br>
            <div class="button-container">
                <!-- Call to action buttons -->
                <a href="/flights" class="btn btn-light" role="button" type="submit">Explore Flights</a>
                <a href="/hotels" class="btn btn-light" role="button" type="submit">Explore Hotels</a>
            </div>
        </div>

        <!-- Easter egg -->
        <div id="trigger"></div>
        <!-- Easter Egg game sourced from codepen
            Source: https://codepen.io/b29/pen/LoaRKx
            Author: Baron
        -->
        <div id="game-container">
            <button id="close-button">Close</button>
            <iframe height="300" style="width: 100%;" scrolling="no" title="Abandoned Planet (metaverse)" src="https://codepen.io/b29/embed/LoaRKx?default-tab=result&editors=1010" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                See the Pen <a href="https://codepen.io/b29/pen/LoaRKx">Abandoned Planet (metaverse)</a> by Baron (<a href="https://codepen.io/b29">@b29</a>)
                on <a href="https://codepen.io">CodePen</a>.
            </iframe>
            
        </div>
              
    </div>
    <script>
        document.getElementById('trigger').addEventListener('click', function() {
            document.getElementById('game-container').style.display = 'block';
        });

        document.getElementById('close-button').addEventListener('click', function() {
            document.getElementById('game-container').style.display = 'none';
        });
    </script>




    <%- include('templates/footer') %>