<%- include('templates/header-hamburger-main-only') %>

    <div class="background-container ">
        <div class="container text-center">
            <h3 class="custom-color">
                <%= username %>,<br>Your Journey Begins Here
            </h3>
            <br><br>
            <div class="button-container">
                <a href="/flights" class="btn btn-light" role="button" type="submit">Explore Flights</a>
                <a href="/hotels" class="btn btn-light" role="button" type="submit">Explore Hotels</a>
            </div>
        </div>
    </div>

    <%- include('templates/footer') %>