<%- include('templates/header-hamburger') %>
    <h1 class="display-6 text-center">Welcome</h1><br>
    <!-- Container for items -->
    <div class="container text text-center">
    </div>
    <%- include('templates/footer') %>