<%- include('templates/header-back-arrow') %>

    <form action="/reset-password" method="post">
        <div class="container">
            <input class="form-control" type="password" name="currentPassword" required="true"
                placeholder="Current Password">
            <br><br>
            <input class="form-control" type="password" name="newPassword" required="true" placeholder="New Password">
            <br><br>
            <div class="text-center">
                <% if (message) { %>
                    <div id="message">
                        <%= message %>
                    </div>
                    <% } %>
                        <br>
                        <input class="btn btn-secondary btn-block w-50 mx-auto" type="submit" value="Submit">
            </div>
        </div>
    </form>
    <%- include('templates/footer') %>