<%- include('templates/header-basic') %>
    <div class="container">
        <h1 class="text-center">Galaxy Getaways Terms and Conditions</h1>
        <p>Last Updated: 2024-05-24</p>
        <p>Welcome to Galaxy Getaways! By creating an account and using our application, you agree to comply with and be
            bound by the following terms and conditions of use. Please review the following terms carefully. If you do
            not agree to these terms, you should not use this application.</p>
        <ol>
            <li><strong>Acceptance of Terms</strong><br>
                By accessing and using Galaxy Getaways ("the App"), you accept and agree to be bound by these Terms and
                Conditions and our Privacy Policy. These Terms apply to all users of the App.
            </li>
            <li><strong>Eligibility</strong><br>
                You must be at least 18 years old to create an account and use the App. By using the App, you represent
                and warrant that you are at least 18 years old and that you agree to abide by these Terms.
            </li>
            <li><strong>Account Registration</strong><br>
                To access certain features of the App, you must create an account. You agree to provide accurate,
                current, and complete information during the registration process and to update such information to keep
                it accurate, current, and complete. You are responsible for safeguarding your password and for all
                activities that occur under your account.
            </li>
            <li><strong>Use of the App</strong><br>
                You agree to use the App only for lawful purposes and in accordance with these Terms. You agree not to
                use the App:
                <ul>
                    <li>In any way that violates any applicable federal, state, local, or international law or
                        regulation.</li>
                    <li>To engage in any conduct that restricts or inhibits anyone’s use or enjoyment of the App, or
                        which, as determined by us, may harm Galaxy Getaways or users of the App.</li>
                </ul>
            </li>
            <li><strong>Intellectual Property Rights</strong><br>
                The App and its entire contents, features, and functionality (including but not limited to all
                information, software, text, displays, images, video, and audio, and the design, selection, and
                arrangement thereof) are owned by Galaxy Getaways, its licensors, or other providers of such material
                and are protected by copyright, trademark, patent, trade secret, and other intellectual property or
                proprietary rights laws.
            </li>
            <li><strong>Termination</strong><br>
                We may terminate or suspend your account and bar access to the App immediately, without prior notice or
                liability, under our sole discretion, for any reason whatsoever and without limitation, including but
                not limited to a breach of the Terms.
            </li>
            <li><strong>Limitation of Liability</strong><br>
                In no event shall Galaxy Getaways, nor its directors, employees, partners, agents, suppliers, or
                affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages,
                including without limitation, loss of profits, data, use, goodwill, or other intangible losses,
                resulting from (i) your use or inability to use the App; (ii) any unauthorized access to or use of our
                servers and/or any personal information stored therein.
            </li>
            <li><strong>Governing Law</strong><br>
                These Terms shall be governed and construed in accordance with the laws of Canada British Coloumbia,
                without regard to its conflict of law provisions.
            </li>
            <li><strong>Changes to Terms</strong><br>
                We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
                revision is material we will provide at least 30 days' notice prior to any new terms taking effect. What
                constitutes a material change will be determined at our sole discretion.
            </li>
            <li><strong>Contact Us</strong><br>
                If you have any questions about these Terms, please contact us at <a
                    href="mailto:galaxygetawaysbby09">galaxygetawaysbby09</a>.
            </li>
        </ol>
        <p>By creating an account with Galaxy Getaways, you acknowledge that you have read, understood, and agree to be
            bound by these Terms and Conditions.</p>
    </div>

    <%- include('templates/footer-no-chatbot') %>