.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

/* Collapsing card layout transform CSS adapted from the following
Source: https://disjfa.github.io/bootstrap-tricks/card-collapse-tricks/ */
.card-header .fas {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fas {
    transform: rotate(90deg);
}

.card-content p {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.noWrap{
    white-space: nowrap;
}