header {
    margin:0;
    padding: 0;
}
.primary-background {
    background-color:#062c43 ;
}
.galaxy-link {
    text-decoration: none;
    color: white;
}
.galaxy-title {
    font-size: 2em;
}
.bi-svg-color {
    fill: white;
}
.custom-dropdown-divider {
    border-top: 2px black;
}
