.section-flights {
    background-color: #9ccddc;
    margin: 20px 60px;
}
.section-hotels {
    background-color: #9ccddc;
    margin: 20px 60px;
}
.section h2 {
    margin-bottom: 10px;
}
.booking {
    background-color: #9ccddc;
    margin: 20px 80px;
    padding: 10px;
    height: auto;
}